{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
    <ul>
        {% for  i in payload%}
        <h1>{{i}}</h1>
        {% for j in payload[i]%}
        {%if current_user.id != j["user_info"]["personID"] %}
        <div class="container mt-2" style="border-radius: 15px;background-color: #f7f7f7;box-shadow: 5px 5px #d6d6d6;">
            <ul><a href="{{url_for('person_page',data=j['user_info']['personID'])}}">{{j["user_info"]["Name"]}}</a><br/><text>{{j["payload"]}}</text><p>{{j["publish_date"]}}</p></ul><br/>
        </div>
        {%endif%}
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endblock %}
