  {% extends "layout.html" %}
  {% block title %}Home{% endblock %}
  {% block content %}
  <div class="container">
  <div class="form-group w-60">
    <form method="POST">
    <div class="input-group mt-4">
      <input name="payload" type="text" class="form-control" placeholder="Write Here" aria-label="Large" style="height: 100px;" aria-describedby="input-group-sizing-lg" required>
    </div>
    <div class="input-group mb-2">
      <div class="form-check form-check-inline">
        <input name="radio" class="form-check-input" type="radio" id="inlineCheckbox1" value="Post" required>
        <label class="form-check-label" for="inlineCheckbox1">Post Idea</label>
      </div>
      <div class="form-check form-check-inline">
        <input name="radio" class="form-check-input" type="radio" id="inlineCheckbox2" value="Event" required>
        <label class="form-check-label" for="inlineCheckbox2">Announce Event</label>
      </div>
      <div class="form-check form-check-inline">
        <input name="radio" class="form-check-input" type="radio" id="inlineCheckbox3" value="Item" required>
        <label class="form-check-label" for="inlineCheckbox3">Sell Item</label>
      </div>
      {% if current_user.is_admin %}
      <div class="form-check form-check-inline">
        <input name="is_news" class="form-check-input" type="radio" id="inlineCheckbox3" value="news" >
        <label class="form-check-label" for="inlineCheckbox3">Is news</label>
      </div>
      {%endif%}
      <div class="input-group mt-3">
      <input name="price" type="text" class="form-control" placeholder="Price"/>
    </div>
    </div>
    <div>
      <button class="btn btn-primary btn-lg" name="post_button" value="post">Post</button>
    </div>
    </form>
  </div>
</div>
<hr/>
    <div>
    <ul>
    {% for  i in payload%}
    <h1>{{i}}</h1>
    {% for j in payload[i]%}
    <div class="mt-3" style="border-radius: 15px;background-color: #f7f7f7;box-shadow: 5px 5px #d6d6d6;">
      <ul><a href="{{url_for('person_page',data=j['user_info']['personID'])}}">{{j["user_info"]["Name"]}}</a><p>{{j["payload"]}}</p><p>{{j["publish_date"]}}</p></ul><br/>
    </div>
    {% endfor %}
    {% endfor %}
    </ul>
    </div>
  </div>
  {% endblock %}
