<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>MED App - {% block title %}{% endblock %}</title>
  </head>
  <body>
      <h1>MED</h1>
      <nav>
      <ul>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('home_page') }}">Home</a></li>
        <li><a href="{{ url_for('discover_page') }}">Discover</a></li>
        <li><a href="{{ url_for('my_page') }}">Profile</a></li>
        <li><a href="{{url_for('logout')}}">Log out</a></li>     
        {%endif%}
        {% if not current_user.is_authenticated %}
        <li><a href="{{url_for('login_page')}}">Log in</a></li>
        <li><a href="{{url_for('signup_page')}}">Sign up</a></li>
        {%endif%}
      </ul>
      </nav>
    {% block content %}{% endblock %}

    <footer>
    </footer>
  </body>
</html>