{% extends "layout.html"%}
{%block title%}Log In{%endblock%}
{%block content%}


<h1>Log In</h1>
<div>
{% if error_message %}
<p style="color:red">Form wrong</p>
{% endif %}
<form action="" method="POST">
    <label for="email_label">E-mail</label>
    <input type="text" name="email" class="input" required="required"/>
    <label for="Password_label">Password</label>
    <input name="password" type="password" required="required" pattern=".{6,}" placeholder="6 characters minimum"/>
    <input type="submit" name="Submit"/>
</form>

</div>
{%endblock%}