{% extends "layout.html"%}
{%block title%}Sign UP{%endblock%}
{%block content%}


<h1>Sign Up</h1>
<div>
{% if error_message %}
<p style="color:red">Form wrong</p>
{% endif %}
<form action="" method="POST">
    <label for="email_label">Enter your ITU e-mail</label>
    <input type="text" name="email" class="input" required="required"/>
    <label for="Password_label">Give your password</label>
    <input name="password" type="password" required="required" pattern=".{6,}" placeholder="6 characters minimum"/>
    <label for="fname_label">First Name</label>
    <input name="fname" type="text"/>
    <label for="lname_label">Last Name</label>
    <input name="lname" type="text"/>
    <label for="bio_label">Bio</label>
    <input name="bio" type="text">
    <input type="submit" name="Submit"/>
</form>

</div>
{%endblock%}