{% extends "layout.html"%}
{%block title%}{{Username}}{%endblock%}
{%block content%}


<h1>Sign Up</h1>
<ul>
    <li><a href="{{ url_for('home_page') }}">Home</a></li>
    <li><a href="{{ url_for('my_page') }}">Profile</a></li>
    <li><a href="{{url_for('signup_page')}}">Signup</a></li>
  </ul>
<div>
<form action="" method="POST">
    <label for="email_label">Enter your ITU e-mail</label>
    <input type="text" name="email" class="input"/>
    <label for="Password_label">Give your password</label>
    <input name="password" type="password"/>
    <label for="fname_label">First Name</label>
    <input name="fname" type="text"/>
    <label for="lname_label">Last Name</label>
    <input name="lname" type="text"/>
    <input type="submit" name="Submit"/>
</form>

</div>
{%endblock%}